.content{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
background-color: blue;


.image-container{

  width:50%

}

&__img{
width:100%;
height:auto;
min-height: 200px;
}

.info{

width: 90%;


.subtitle{
  font-size:$subtile-font-size;
  color: $subtitle-color;
  padding: 5px 0px 5px 5px;
  text-transform: uppercase;
  border-bottom: 1px solid $title-color;

  &__subtitle{
    font-size: $big-screen-subtitle-font-size;
    color: $subtitle-color;
    padding: 5px 0px;
  }
}

span{
  display: inline-block;
  color: $text-color;
  margin:10px 0px;
}
}

}