@include media-md {



  .menu-btn {
    visibility: hidden;
  }
.home{
  margin-left: 25%;
}
  .nav{

    width:0vw;
    background-color: $primary-color;
    visibility: visible;
    @include side-nav;
  
    .menu-list{
      background: $primary-color;
      height: auto;
      list-style-type: none;
    }
  }
  
  .nav#content{
    position: fixed;
    z-index: 1;
  justify-content: flex-start;

  
    visibility: visible;
    @include top-nav;
  
    .menu-list{
      background: $primary-color;
      height: 100%;
      margin-left: 30px;
      list-style-type: none;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
     
      &__link{
        @include basic-link;
        padding :0 10px;
      }
  
      span{
        font-size: 1.2rem;
      }
    }
  }


  .content{
    display: flex;
    flex-direction: row;
    width: 90vw;
    align-items: flex-start;
    


  .image-container{
    width: 30%;
    text-align: center;
    margin-right: 10px;
}

.info{
width: 80;
  }
}


.characters{

  &__items {

    grid-template-columns: auto auto auto;
  }

  &__item {
    width: 20vw;
  }

  span{
    font-size:$big-screen-subtitle-font-size;
  }
}


  }

@include media-lg{
  .characters{
    span{
      font-size:1.2rem
    }
  }
}

@include media-xl {
  .characters{
    span{
      font-size:1.5rem
    }
  }

}